name: CI
on:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10.20.0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
      - uses: biomejs/setup-biome@v2
        with:
          version: 2.3.11

      - run: pnpm install --frozen-lockfile
      - run: pnpm run lint && biome ci && pnpm run build:all
